@mixin container-design {
    width: calc(100% - 20px);
    background-color: #fff;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    margin-top: 2.7rem;
    padding: $containerPadding;
    @media screen and (max-width: 560px) {
        width: calc(100% - 10px);
    }
}
