$successBgColor: #2ed573;
$warningBgColor: #ff9f43;
$errorBgColor: #ee5253;

// Toast variable overridde
$toast-header-color: #fff;
$toast-font-size: 1rem;

$primaryColor: #686de0;

$transition: 0.1s ease-in-out;

$borderRadius: 6px;

$boxShadow: 0px 0px 17px 2px rgba(0, 0, 0, 0.21);

$containerPadding: 1.3rem;
