* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

.bot_mail {
    font-size: 1.2rem;
    cursor: copy;
}

.wsmgs_editor_container {
    position: relative;

    #wsmgs_script_code {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 500px;
        overflow-y: scroll;
    }

    .code-box-copy__btn {
        display: none;
    }

    .copy-to-clipboard-button {
        span {
            font-size: 1rem;
            color: white;
            text-transform: uppercase;
            cursor: copy;
            font-weight: bold;
            padding: 2px 15px;
        }
    }
}

.wsmgs_setting_form {
    @include container-design;

    margin-top: 70px;

    table td {
        padding-left: 0;
    }

    table tbody tr:nth-child(1) {
        display: none;
    }

    .submit {
        margin: 20px 0 0 0;
        padding: 0;

        input {
            @include button-design;
        }
    }

    .wsmgs_configure {
        @include button-design;
        outline: none;
        padding: 12px 15px;
        display: inline-block;
    }

    .hide {
        display: none;
    }

    .modal-dialog {
        max-width: 600px;
    }
}

.wsmgs_inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: calc(100% - 1px);
}

.tooltip-inner {
    padding: 0.55rem 0.7rem;
    letter-spacing: 0.3px;
    font-size: 0.98rem;
    max-width: 600px;

    img {
        width: 100%;
    }

    .tooltip_image_container {
        p {
            margin: 0 0 1rem 0;
            font-weight: bold;
            font-style: italic;
        }
    }
}

.wsmgs_input_container {
    & > h3,
    p {
        font-weight: bold;
    }

    & > p {
        font-style: italic;
    }

    .input {
        position: relative;

        &__label {
            white-space: nowrap;
            color: $primaryColor;
            font-weight: bold;
            line-height: 1.2;
            font-size: 0.9rem;
        }
        &__field {
            box-sizing: border-box;
            display: block;
            width: 100%;
            margin-top: 10px;
            padding: 1rem 0.8rem;
            background: transparent;
            border-radius: $borderRadius;
            border: 1px solid $primaryColor;

            &:focus {
                border-color: $primaryColor;
            }

            &:focus,
            &:not(:placeholder-shown) {
                & + .input__label {
                    color: $primaryColor;
                }
            }
        }
    }
}

.wsmgs_description {
    @include container-design;
}

.bot_info {
    font-size: 1rem;
    font-weight: bold;

    code {
        font-size: 1.1rem;
    }

    .tutorial_video {
        text-transform: uppercase;
    }
}

.wsmgs_disabled {
    opacity: 0.4;
    pointer-events: none;
}

.wsmgs_inactive {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.wsmgs_btn {
    @include button-design;
}

.btn-close {
    cursor: pointer;
}
.btn-close:focus {
    box-shadow: none;
}
.btn-loading {
    background: transparent;
    color: $primaryColor;
    width: 60px;
    pointer-events: none;

    .spinner-border {
        width: 1rem !important;
        height: 1rem !important;
        color: #fff !important;
    }
}

#modal3 {
    .alert:nth-of-type(1) {
        display: none !important;
    }

    #wsmgs_script_code {
        height: 200px !important;
    }
}

// Design the export button
.wsmgs_export_btn.wsmgs_export_btn {
    @include button-design;
    &:hover,
    &:active {
        padding: 8px 15px;
    }
}

// Design the welocome container
.wsmgs_welcome_container {
    @include container-design;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
        line-height: 2rem;
    }

    .wsmgs_button {
        @include button-design;
    }

    .video_link {
        background: transparent;
        color: $primaryColor;
        font-weight: bold;
        margin-top: 1rem;
    }

    .get_started_container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;

        p {
            text-align: center;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }
}

.wsmgs_wizard_container {
    @include container-design;

    #smartwizard {
        border: none !important;

        .nav {
            box-shadow: none !important;
            margin-bottom: 1.5rem;
        }
    }

    #smartwizard {
        .btn {
            @include button-design;
        }

        .btn.sw-btn-prev.disabled {
            cursor: not-allowed !important;
        }
    }

    .nav-link {
        font-weight: bold;
        font-size: 1.15rem;
        text-transform: uppercase;
        &::after {
            bottom: -10px !important;
            height: 6px !important;
        }
    }

    .nav-link.active.nav-link.active {
        color: $primaryColor !important;
    }

    .nav-link:focus,
    .nav-link:active {
        box-shadow: none !important;
    }

    .nav-link::after,
    .nav-link::before,
    .nav-link.active::after,
    .nav-link.done,
    .nav-link.done,
    .nav-link.done::before,
    .nav-link.done::after {
        color: $primaryColor !important;
    }

    .sw-theme-default > .nav .nav-link.done {
        color: $primaryColor !important;
    }

    .nav-link.active.nav-link.active::after,
    .nav-link.done.nav-link.done::after {
        background-color: $primaryColor !important;
    }

    .tab-pane {
        padding: 20px 0 !important;
    }

    .toolbar.toolbar-bottom {
        text-align: right;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin-top: 1rem;
    }

    .step2_content_wrapper {
        max-width: 735px;
        & > h2 {
            font-weight: bold;
            font-size: 1.3rem;
        }
        & > p {
            font-weight: bold;
            font-size: 1rem;
            font-style: italic;
        }

        .bot_guidelines {
            margin: 2rem 0 2rem 3rem;

            li {
                font-weight: bold;
                list-style-type: decimal;
                font-size: 0.9rem;
            }
        }

        .bot_copy_btn {
            @include button-design;
        }

        .bot_id_container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 1rem;
            background: #80808030;
            padding: 1rem;
            border-radius: $borderRadius;
        }

        .checkbhox {
            margin-top: 3rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.7rem;
            padding-left: 1px;
            label {
                font-weight: bold;
                font-style: italic;
            }

            input {
                margin: 0;
            }
        }
    }
}
