.bot_mail {
    color: #2271b1;
    font-size: 1.2rem;
    cursor: copy;
}

.wsmgs_editor_container {
    position: relative;

    #wsmgs_script_code {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 500px;
        overflow-y: scroll;
    }

    .code-box-copy__btn {
        display: none;
    }

    .copy-to-clipboard-button {
        span {
            font-size: 1rem;
            color: white;
            text-transform: uppercase;
            cursor: copy;
            font-weight: bold;
            padding: 2px 15px;
        }
    }
}

.wsmgs_setting_form {
    @include container-design;

    margin-top: 70px;

    table td {
        padding-left: 0;
    }

    table tbody tr:nth-child(1) {
        display: none;
    }

    .submit {
        margin: 20px 0 0 0;
        padding: 0;

        input {
            @include button-design;
        }
    }

    .wsmgs_configure {
        @include button-design;
        outline: none;
        padding: 12px 15px;
    }

    .hide {
        display: none;
    }

    .wsmgs_inputs {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .wsmgs_input_container {
        --color-light: white;
        --color-dark: #212121;
        --color-signal: $primaryColor;

        --color-background: var(--color-light);
        --color-text: var(--color-dark);
        --color-accent: var(--color-signal);

        --size-bezel: 0.5rem;
        --size-radius: 4px;

        background: var(--color-background);

        .input {
            position: relative;

            &__label {
                position: absolute;
                left: 0;
                top: 0;
                padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
                transform: translate(10px, -15px) scale(0.8) !important;
                -webkit-transform: translate(10px, -15px) scale(0.8) !important;
                -moz-transform: translate(10px, -2px) scale(0.8) !important;
                white-space: nowrap;
                transform-origin: 0 0;
                background: var(--color-background);
                transition: transform 120ms ease-in;
                font-weight: bold;
                line-height: 1.2;
                font-size: 1.2rem;
            }
            &__field {
                box-sizing: border-box;
                display: block;
                width: 100%;
                padding: 1rem 0.8rem 0.8rem 0.8rem;
                background: transparent;
                border-radius: var(--size-radius);

                &:focus {
                    border-color: $primaryColor;
                }

                &:focus,
                &:not(:placeholder-shown) {
                    & + .input__label {
                        color: $primaryColor;
                    }
                }
            }
        }
    }

    .modal-dialog {
        max-width: 600px;
    }
}

.wsmgs_description {
    @include container-design;
}

.bot_info {
    font-size: 1rem;
    color: #000;
    font-weight: bold;

    code {
        font-size: 1.1rem;
        background: #ff6b8173;
    }

    .tutorial_video {
        text-transform: uppercase;
    }
}

.wsmgs_disabled {
    opacity: 0.4;
    pointer-events: none;
}

.wsmgs_inactive {
    opacity: 0.5;
    cursor: not-allowed !important;
}

.wsmgs_btn {
    @include button-design;
}

.btn-close {
    cursor: pointer;
}
.btn-close:focus {
    box-shadow: none;
}
.btn-loading {
    background: transparent;
    color: $primaryColor;
    width: 60px;
    pointer-events: none;

    .spinner-border {
        width: 1rem !important;
        height: 1rem !important;
        color: $primaryColor !important;
    }
}

#modal3 {
    .alert:nth-of-type(1) {
        display: none !important;
    }

    #wsmgs_script_code {
        height: 200px !important;
    }
}

// Design the export button
.wsmgs_export_btn.wsmgs_export_btn {
    @include button-design;
}
