.wsmgs_alert {
    .alert_success {
        background-color: $successBgColor;
    }
    .alert_warning {
        background-color: $warningBgColor;
    }
    .alert_error {
        background-color: $errorBgColor;
    }
    .btn-close {
        opacity: 1;
        cursor: pointer;
    }
    .message_type {
        font-weight: bolder;
    }
}
